{
  "presets": [
    [
      "env",
      {
        "modules": "commonjs"
      }
    ],
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "external-helpers",
    "transform-runtime",
    "transform-regenerator",
    "transform-decorators-legacy",
    "transform-regenerator",
    "transform-class-properties",
    "transform-object-rest-spread",
    "lodash"
  ]
}
