{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7",
            "ie >= 10"
          ]
        },
        "modules": "commonjs"
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-regenerator",
    "transform-undefined-to-void",
    "transform-decorators-legacy",
    "external-helpers",
    "add-module-exports"
  ]
}
