.c {
  color: yellow;
}
.b {
  color: red;
}
.a {
  color: '#ccc';
  -webkit-transform: translateX(1);
      -ms-transform: translateX(1);
          transform: translateX(1);
}
.a .foo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
