
.index {
  color: red;
  transform: translateX(1);
}

.index2 {
  color: red;
  transform: translateX(1);
}

.index3 {
  color: red;
  transform: translateX(1);
  :global{
    border-right: 1px solid #ffffff;
  }
}
