.index___1Xnek {
  color: red;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.index___1Xnek .foo___26SGr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
