/**************************************************
 * Created by nanyuantingfeng on 09/11/2017 21:53.
 **************************************************/

body {
  flex-direction: column;
  flex: 1;
  display: flex;
  justify-content: center;
}
